:root {
  --primary-color: #FFFFFF;
  --text-color: #bfcccc;
  --secondary-text-color: #909999;
  --image-text-color: #323358;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
}

h1 {
  color: var(--image-text-color);
  opacity: 80%;
  font-size: 150px;
  font-family: "Poppins", sans-serif;
}
h2 {
  color:steelblue;
  opacity: 60%;
  font-size: 24px;
  width:520px;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 30px;
  text-align: center;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 2;
  color: steelblue;
  text-align: center;
  border-radius: 4px;
}
h4,
h5,
h6 {
  color: #323358;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
.h7 {
  text-align: center;
  color: var(--text-color);
  }

footer {
  margin: 5px 0;
  text-align: center;
  color: steelblue;
  font-size: 30px;
}
footer .source-link {
  color: var(--secondary-text-color);
  font-size: 10px;
}
footer .footer-link {
  color: var(--text-color);
  text-decoration: none;
}
footer .footer-link:hover {
  color: cadetblue;
}
footer .social-container {
  margin-top: 19px;
}
footer .social-links a {
  color: azure;
  text-decoration: none;
  margin: 0 20px;
  background: var(--secondary-text-color);
  opacity: 60%;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
}
footer .social-links a:hover {
  background: steelblue;
}
a {
  text-decoration: none;
  color: azure;
}
a:hover {
  text-decoration: none;
  color: steelblue;
}
.slide-down {
  width:100%;
  overflow:hidden;
  margin-left: 300px;
  max-width:500px;
}

.slide-down h2 {
  animation:2s slide-down 2s forwards;
     transform:translateY(-100%);
}
@keyframes slide-down {
  to {
    transform:translateX(0%);
  }
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}
.container .card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 20px;
  overflow: hidden;
  border-radius: 300px;
}
.container .card .imgW,
.container .card .contentW,
.container .card .imgS,
.container .card .contentS,
.container .card .imgC,
.container .card .contentC {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .card .imgW,
.container .card .imgS, 
.container .card .imgC {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 35%;
  background-image: radial-gradient(azure, cadetblue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container .card .contentW::before,
.container .card .contentS::before,
.container .card .contentC::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}
.container .card:hover .contentW::before,
.container .card:hover .contentS::before,
.container .card:hover .contentC::before {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}
.container .card .contentW,
.container .card .contentS,
.container .card .contentC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .contentW .content,
.container .card .contentS .content,
.container .card .contentC .content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}
.container .card:hover .contentW .content,
.container .card:hover .contentS .content,
.container .card:hover .contentC .content {
  transform: translateX(0px);
  transition-delay: 0.5s;
}

.about-portrait {
  border-radius: 200px;
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  opacity: 70%;
  padding: 20px;
}

.main-container h3 {
  margin-top: 90px;
  color: var(--text-color);
}
.about-container {
  color: var(--text-color);
  max-width: 1000px;
  margin: 5px;
}

.button-link {
  display: flex;
  justify-content: center;
}
.button-link a:hover {
  background-color: steelblue;
  box-shadow: 0 5px 15px steelblue;
}

.email-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 15px;
}
.email-link:hover {
  color: cadetblue;
  text-align: center;
}
.contact-container .contact a {
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
  font-family: "Poppins", sans-serif serif;
  font-size: 20px;
  line-height: 30px;
}
.contact-container .contact a:hover {
  color: cadetblue;
}
.contact-container .contact h1 {
  font-weight: 350;
  font-family: "Poppins", sans-serif;
  padding-bottom: 60px;

}
.button {
  text-decoration: none;
  color: var(--image-text-color);
  background: rgb(233, 237, 240);
  padding: 20px;
  border-radius: 50%;
  font-weight:lighter;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin:0 auto;
}

.glow-button:hover {
  color: var(--image-text-color);
  box-shadow: 0 5px 15px rgba(52, 176, 230, 0.4);
}

@media only screen and (max-width: 768px) {
  .main-container h1 {
   font-size: 20px;
   text-align: center;
   font-size: 40px;
   letter-spacing: 7px;
   padding-top: 30px;
  }
   .main-container 
   h4,
   h5,
   h6 {
     text-align: center;
     font-size: 20px;
     margin: 20px;
   }
   a,
   footer {
     text-align: center;
     font-size: 15px;
   }
   h2 {
    font-size: 17px;
    width:429px;
   }

   .main-container h3 {
     text-align: center;
     font-size: 15px;
     margin: 1px;
   }
   .slide-down {
    width:100%;
    overflow:hidden;
    margin-left: 20px;
    max-width:400px;
  }
  
  .slide-down h2 {
    animation:2s slide-down 2s forwards;
       transform:translateY(-100%);
  }
  @keyframes slide-down {
    to {
      transform:translateX(0%);
    }
  }
 
   .about-container {
     text-align: center;
   }
   .about-container h2 {
     margin-bottom: 0;
   }
   .about-container p {
     font-size: 15px;
   }
   .about-container .about-portrait {
     margin-top: 0;
     padding: 0;
   }
   .button-link {
     box-sizing: content-box;
     text-align: center;
     margin-left: 30px;
     padding: 20px;
   }
   .contact-container h1 {
     text-align: center;
     font-size: 60px;
     margin-bottom: 20px;
   }
  }