:root {
  --primary-color: #000000;
  --text-color: #bfcccc;
  --secondary-text-color: #909999;
  --image-text-color: #323358;
}
@media (max-width: 768px) {
  .main-container h1 {
    text-align: center;
    font-size: 18px;
  }
  .main-container h2,
  h4,
  h5,
  h6 {
    text-align: center;
    font-size: 20px;
    margin: 20px;
  }
  a,
  footer {
    text-align: center;
    font-size: 15px;
  }
  .main-container h3 {
    text-align: center;
    font-size: 15px;
    margin: 1px;
  }

  .about-container {
    text-align: center;
  }
  .about-container h2 {
    margin-bottom: 0;
  }
  .about-container p {
    font-size: 15px;
  }
  .about-container .about-portrait {
    margin-top: 0;
    padding: 0;
  }
  .button-link {
    box-sizing: content-box;
    text-align: center;
    margin-left: 30px;
  }
  .contact-container h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--primary-color);
}

h1 {
  color: var(--text-color);
  opacity: 80%;
  font-size: 120px;
  font-family: "Poppins", sans-serif;
}
h2 {
  color: var(--text-color);
  opacity: 60%;
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 30px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
  text-align: center;
  border-radius: 4px;
  padding: 20px;
}
h4,
h5,
h6 {
  color: white;
  text-align: center;
}
h7 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
}
footer {
  margin: 5px 0;
  text-align: center;
  color: azure;
  font-size: 30px;
}
footer .source-link {
  color: var(--secondary-text-color);
  font-size: 10px;
}
footer .footer-link {
  color: var(--text-color);
  text-decoration: none;
}
footer .footer-link:hover {
  color: cadetblue;
}
footer .social-container {
  margin-top: 19px;
}
footer .social-links a {
  color: azure;
  text-decoration: none;
  margin: 0 20px;
  background: var(--secondary-text-color);
  opacity: 60%;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
}
footer .social-links a:hover {
  background: cadetblue;
}
a {
  text-decoration: none;
  color: azure;
}
a:hover {
  text-decoration: none;
  color: cadetblue;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}
.container .card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 15px;
  overflow: hidden;
}
.container .card .imgW,
.container .card .contentW,
.container .card .imgS,
.container .card .contentS,
.container .card .imgC,
.container .card .contentC {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .card .imgW img,
.container .card .imgS img,
.container .card .imgC img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}
.container .card .contentW::before,
.container .card .contentS::before,
.container .card .contentC::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(15, 11, 0);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}
.container .card:hover .contentW::before,
.container .card:hover .contentS::before,
.container .card:hover .contentC::before {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}
.container .card .contentW,
.container .card .contentS,
.container .card .contentC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .contentW .content,
.container .card .contentS .content,
.container .card .contentC .content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}
.container .card:hover .contentW .content,
.container .card:hover .contentS .content,
.container .card:hover .contentC .content {
  transform: translateX(0px);
  transition-delay: 0.5s;
}
.container .card .contentW .content h4,
.container .card .contentS .content h5,
.container .card .contentC .content h6 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-portrait {
  border-radius: 200px;
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  opacity: 70%;
  padding: 20px;
}
.main-container h1 {
  font-size: 80px;
  letter-spacing: 7px;
}
.main-container h3 {
  margin-top: 90px;
  color: var(--text-color);
}
.about-container {
  color: var(--text-color);
  max-width: 1000px;
  margin: 5px;
}

.button-link {
  display: flex;
  justify-content: center;
}

.email-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 15px;
}
.email-link:hover {
  color: cadetblue;
  text-align: center;
}
.contact-container .contact a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
.contact-container .contact a:hover {
  color: cadetblue;
}
.contact h1 {
  font-weight: 200;
  font-family: "Julius Sans";
}
