@media (max-width: 576px) {
  h1,
  h2 {
    text-align: center;
    font-size: 40 px;
  }
  .image {
    display: flex;
    flex-direction: column;
  }
}

body {
  background-color: black;
}
h1 {
  text-align: center;
  color: azure;
  margin: 120px 80px 0px;
  opacity: 80%;

  font-size: 120px;
  font-family: "Poppins", sans-serif;
}
h2 {
  text-align: center;
  color: azure;
  margin: 40px 300px;
  opacity: 60%;
  font-size: 48px;
  font-family: "Cormorant Garamond", serif;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  opacity: 70%;
  color: black;
}
img {
  max-width: 400px;
  height: auto;
  border: black 1px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
}
.about-portrait {
  border-radius: 200px;
  display: flex;
  justify-content: space-between;
  float: left;
  margin: 10px 10px 0 400px;
  opacity: 50%;
}

.card {
  border: black 1px;
}
#logo-holder {
  position: relative;
  max-width: 100px;
  height: 150px;
  margin: 80px;
  border: black 1px;
  opacity: 70%;
}
#logo-holder .image-1,
.image-2,
#logo-holder .text {
  transition: opacity 0.4s ease-in-out;
}
#logo-holder .text {
  position: absolute;
  top: 50px;
  left: 75px;
  opacity: 1%;
}

#logo-holder:hover .image-1,
.image-2 {
  opacity: 0;
}
#logo-holder:hover .text {
  opacity: 10;
  background-color: rgba(212, 222, 236, 0.342);
  width: 350px;
  text-align: center;
  border-radius: 12px;
  padding: 40px;
  transition: 0.7s ease-in-out;
  color: azure;
}
